extends layout

block content
  .content.container
    .navigation
      button#nav-button.btn(style="display:none") <i class="glyphicon glyphicon-chevron-left"></i> Back
  
    h1#pageTitle Agencies
    
    #loading.loading Loading...
    
    form#locationForm.form-inline.form-search.form-location
      .form-group
        label.control-label(for="location") Location:
        input#location.form-control(type="text" name="location")
      
      .form-group
        label(for="radius") Radius:
        select#radius
          option(value="1") 1 mile
          option(value="5") 5 miles
          option(value="10") 10 miles
          option(value="25" selected) 25 miles
          option(value="100") 100 miles
      button.btn.btn-primary.btn-sm(type="submit") Find Agencies
    
    form#agencySelectForm.form-inline.form-search
      .form-group
        label(for="location") Agency name:
        input#location(type="text" name="location")
      button.btn.btn-primary.btn-sm(type="submit") Find Agencies
    
    #map.map
    
    #data
